- content_for :sub_content do
  %h1 Stuff I bought
  %ul
    - @purchase_items.each do |purchase_item|
      - song = purchase_item.song
      %li= song.user.name
      %li= song.title
      - if purchase_item.multitrack?
        %li= link_to 'download', purchase_item.song.multitrack_zip_file.url 
      - else
        %li= link_to 'download', purchase_item.song.mixdown.url 
