#left_container
  .library
    %h3.koblo.cufon
      My Koblo
    %ul
      %li
        %a{:href => "#"} Latest
      %li
        %a{:href => "#"} My Tracks
      %li
        %a{:href => "#"} Connections
        %ul
          %li
            %a{:href => "#"} Following (645)
          %li
            %a{:href => "#"} Followers (1078)
    %h3.head &nbsp;
    %ul
      %li
        %a{:href => "#"} Edit Profile
      %li
        %a{:href => "#"} Account settings
      %li &nbsp;
      %li &nbsp;
      %li &nbsp;
      %li &nbsp;
    %h3.head &nbsp;
#right_container
  = render :partial => 'connections'
#bottom_curve_main
%span.clear
