#left_container
  .library
    %h3.cufon
      Library
    %ul
      %li
        %a{:href => "#"} Bossa
      %li
        %a{:href => "#"} Film music
      %li
        %a{:href => "#"} Jazz
      %li
        %a{:href => "#"} Party Mix
      %li
        %a{:href => "#"} Chill out
    %h3.head.cufon
      Labels
    %ul
      - for record_label in RecordLabel.first(10)
        %li
          = link_to record_label.name, users_path(:record_label_id => record_label.id)
    %h3.head.cufon
      Software
    %ul
      %li
        %a{:href => "#"} Synths
      %li
        %a{:href => "#"} Plugins
      %li
        %a{:href => "#"} Other
