#left_container
  .library
    %h3.cufon
      Library
    %ul
      %li
        %a{:href => "#"} Bossa
      %li
        %a{:href => "#"} Film music
      %li
        %a{:href => "#"} Jazz
      %li
        %a{:href => "#"} Party Mix
      %li
        %a{:href => "#"} Chill out
    %h3.head.cufon
      We suggest
    %ul
      %li
        %a{:href => "#"} Top 25 Most Played
      %li
        %a{:href => "#"} Top 25 Most Downloaded
      %li
        %a.current{:href => "#"} 90ties Music
      %li
        %a{:href => "#"} My Top Rated
      %li
        %a{:href => "#"} Recently Added
      %li
        %a{:href => "#"} Recently Played
    %h3.head.cufon
      Software
    %ul
      %li
        %a{:href => "#"} Synths
      %li
        %a{:href => "#"} Plugins
      %li
        %a{:href => "#"} Other
